PyTelegramBotAPI
PyAutoGUI
tabulate
plyer
wikipedia
requests
pyscreenshot
bs4
beautifulsoup4
Pillow
pyAesCrypt
# "python-barcode[images]" ОБЯЗАТЕЛЬНО К УСТАНОВКЕ
# "qrcode[pil]" ОБЯЗАТЕЛЬНО К УСТАНОВКЕ